@import '../../general-styles.scss';

.footer__item {
  display: inline-block;
  margin-left: 1.5rem;

  &:last-child {
    margin-right: 1.5rem;
  }
}

.footer__link {
  &:link,
  &:visited {
    color: $color-grey-light-1;
    background-color: $color-grey-dark-3;
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block;
    transition: all 0.2s;

    @include responsive(phone600) {
      display: inline;
      line-height: 2.4;
    }
  }

  &:hover,
  &:active {
    color: $color-primary;
    box-shadow: 0 1rem 2rem rgba($color-black, 0.5);
    transform: rotate(5deg) scale(1.2);
  }
}
